<html>
  <head>
   <html>
  <head>
 <style type="text/css">
      body {
        background: LightSlateGray ;
        color: DarkGoldenRod;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
  <div class="container">
  <h1>HELLO 2023 !! </h1>
 </center><img src="{{user_image}}"</center>
  </div>
  </body>
</html>